@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  h1{
    @apply font-bold;
    @apply text-xl; 
  }

  h2{
    @apply font-semibold;
    @apply text-lg; 
  }
  
  h3{
    @apply font-semibold;
    @apply text-base;
  }

  .button-primary{
    @apply rounded-md;
    @apply bg-white;
    @apply text-black;
    @apply px-4;
    @apply py-2;
    @apply border-2;
    @apply border-slate-300
  }

  .button-primary:hover{
    @apply bg-slate-300;
  }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    padding: .5rem;
}